:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --light-gray-text-color: #9ca3af;
  --dark-gray-bg-color: rgba(243, 244, 246, 0.5);
}

body {
  font-family: var(--font-dm-sans) !important;
}

input::placeholder {
  color: #fff !important;
  /* font-size: 12px; */
}

.poster {
  background-image: url("/media/svg/john-wick-Poster.svg");
  background-position: center;
  background-size: cover;
  padding-top: 250px;
  height: 800px;
}

.nav-text-color {
  color: #fff !important;
}

.search-bar {
  border: 1px solid #fff !important;
  border-radius: 6px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: none !important;
}

.search-btn {
  border: 1px solid #fff !important;
  border-radius: 6px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: none !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.poster-img {
  width: 400px !important;
}

.light-gray {
  color: var(--light-gray-text-color) !important;
}

.dark-gray {
  background-color: var(--dark-gray-bg-color) !important;
}
