input::placeholder {
  color: #fff !important;
  font-size: 12px;
}

.poster {
  background-image: url("/media/svg/john-wick-Poster.svg");
  background-position: center;
  background-size: cover;
  padding-top: 150px;
  height: 600px;
}

.nav-text-color {
  color: #fff !important;
}
